.circleblur1 {
  position: absolute;
  width: 425px;
  height: 386px;
  border-radius: 425px;
  opacity: 0.3;
  background: #F2F2F2;
  filter: blur(220px);
  right: -150px;
  top: -150px;
  z-index: -10;
}

.circleblur2 {
  position: absolute;
  width: 425px;
  height: 386px;
  border-radius: 425px;
  opacity: 0.3;
  background: #F2F2F2;
  filter: blur(220px);
  left: -150px;
  bottom: -150px;
  z-index: -10;
}